@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}

h1, h2, span {
  display: none;
}

@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }

  h1, h2, span {
    display: block;
  }

  body {
    background: linear-gradient(to right, #e2b8f7, #d4bafa, #c7bcfb, #b9befb, #acbff9);
    cursor: crosshair;
    perspective: 1000px;
    transform-style: preserve-3d;
    font-family: "Pacifico",cursive;
  }

  /* h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 120px;
    font-size: 90px;
    background: -webkit-linear-gradient(0deg, #ceadfc 0%, #a3bbfb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Concert One', cursive;
    font-weight: 400;
    z-index: -1;
    letter-spacing: 6px;
  } */

  span {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 70px;
    font-size: 70px;
  }

  /* h2 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 90px;
    background: -webkit-linear-gradient(90deg, #e9e6ff 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  bokeh {
    position: fixed;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    animation-name: explosion;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  }
  bokeh:nth-child(1) {
    background-color: #ef8d22;
    transform: translate(86.9269306327vw, 41.2334095759vh);
    animation-duration: 4.0353661462s;
    animation-delay: -1.4644111912s;
  }
  bokeh:nth-child(2) {
    background-color: #fc85e1;
    transform: translate(25.741642507vw, 5.7888921626vh);
    animation-duration: 2.2722524733s;
    animation-delay: -0.6990372439s;
  }
  bokeh:nth-child(3) {
    background-color: #2bd8ff;
    transform: translate(6.7162177595vw, 24.2762690503vh);
    animation-duration: 4.2160674627s;
    animation-delay: -1.120326495s;
  }
  bokeh:nth-child(4) {
    background-color: #ef8d22;
    transform: translate(94.6903509573vw, 5.3900629353vh);
    animation-duration: 4.9040070496s;
    animation-delay: -2.909416025s;
  }
  bokeh:nth-child(5) {
    background-color: #ef8d22;
    transform: translate(67.5900632611vw, 28.356614991vh);
    animation-duration: 4.2351826218s;
    animation-delay: -3.0583480486s;
  }
  bokeh:nth-child(6) {
    background-color: #fc85e1;
    transform: translate(7.5803382378vw, 60.9711544277vh);
    animation-duration: 4.5062343024s;
    animation-delay: -2.0780174014s;
  }
  bokeh:nth-child(7) {
    background-color: #ef8d22;
    transform: translate(14.8726824209vw, 72.9303694893vh);
    animation-duration: 3.9332795865s;
    animation-delay: -4.2968880783s;
  }
  bokeh:nth-child(8) {
    background-color: #feff28;
    transform: translate(43.2894003923vw, 29.3097460906vh);
    animation-duration: 3.3671342089s;
    animation-delay: -3.3263706995s;
  }
  bokeh:nth-child(9) {
    background-color: #feff28;
    transform: translate(85.6499554029vw, 40.0491029472vh);
    animation-duration: 3.7649577475s;
    animation-delay: -2.6600600964s;
  }
  bokeh:nth-child(10) {
    background-color: #ef8d22;
    transform: translate(44.3993655772vw, 25.6516446329vh);
    animation-duration: 3.781087068s;
    animation-delay: -4.6071392334s;
  }
  bokeh:nth-child(11) {
    background-color: #feff28;
    transform: translate(16.881279397vw, 34.1530090881vh);
    animation-duration: 3.3136661298s;
    animation-delay: -2.3524702813s;
  }
  bokeh:nth-child(12) {
    background-color: #ef8d22;
    transform: translate(25.5919169805vw, 18.1900214909vh);
    animation-duration: 4.2011841519s;
    animation-delay: -3.5390237009s;
  }
  bokeh:nth-child(13) {
    background-color: #fc85e1;
    transform: translate(47.5108322224vw, 47.1621696068vh);
    animation-duration: 2.716448657s;
    animation-delay: -3.0443886507s;
  }
  bokeh:nth-child(14) {
    background-color: #feff28;
    transform: translate(98.0869100691vw, 31.4563360546vh);
    animation-duration: 3.4023268095s;
    animation-delay: -2.7525624039s;
  }
  bokeh:nth-child(15) {
    background-color: #feff28;
    transform: translate(57.1030021929vw, 53.1210416299vh);
    animation-duration: 4.2812627503s;
    animation-delay: -2.5646632053s;
  }
  bokeh:nth-child(16) {
    background-color: #feff28;
    transform: translate(85.5459568723vw, 41.0808971147vh);
    animation-duration: 2.3299052068s;
    animation-delay: -3.2450164936s;
  }
  bokeh:nth-child(17) {
    background-color: #fc85e1;
    transform: translate(14.5461670984vw, 3.9052757448vh);
    animation-duration: 3.2339915323s;
    animation-delay: -3.1202011274s;
  }
  bokeh:nth-child(18) {
    background-color: #fc85e1;
    transform: translate(20.3381888565vw, 41.6623479265vh);
    animation-duration: 4.0153116494s;
    animation-delay: -1.8107142894s;
  }
  bokeh:nth-child(19) {
    background-color: #ef8d22;
    transform: translate(45.15310256vw, 90.1572264383vh);
    animation-duration: 4.1152591808s;
    animation-delay: -3.7510309975s;
  }
  bokeh:nth-child(20) {
    background-color: #2bd8ff;
    transform: translate(15.1847746748vw, 32.4255808199vh);
    animation-duration: 4.520109499s;
    animation-delay: -3.0753656485s;
  }
  bokeh:nth-child(21) {
    background-color: #feff28;
    transform: translate(6.8662176133vw, 65.684155326vh);
    animation-duration: 2.2566415471s;
    animation-delay: -0.1422378872s;
  }
  bokeh:nth-child(22) {
    background-color: #fc85e1;
    transform: translate(51.8368439155vw, 32.1866868822vh);
    animation-duration: 3.262923085s;
    animation-delay: -0.1855323584s;
  }
  bokeh:nth-child(23) {
    background-color: #feff28;
    transform: translate(48.486091454vw, 96.073456574vh);
    animation-duration: 3.2127645976s;
    animation-delay: -0.7704248477s;
  }
  bokeh:nth-child(24) {
    background-color: #ef8d22;
    transform: translate(54.8795225107vw, 52.6354913935vh);
    animation-duration: 3.1883724075s;
    animation-delay: -4.8654091228s;
  }
  bokeh:nth-child(25) {
    background-color: #ef8d22;
    transform: translate(23.4220021272vw, 65.5205364832vh);
    animation-duration: 2.4333937215s;
    animation-delay: -3.2910351828s;
  }
  bokeh:nth-child(26) {
    background-color: #2bd8ff;
    transform: translate(47.4160925233vw, 23.7104630076vh);
    animation-duration: 2.9387126825s;
    animation-delay: -2.0923833237s;
  }
  bokeh:nth-child(27) {
    background-color: #fc85e1;
    transform: translate(18.6360237338vw, 84.042722752vh);
    animation-duration: 3.1287078128s;
    animation-delay: -4.8745465455s;
  }
  bokeh:nth-child(28) {
    background-color: #fc85e1;
    transform: translate(4.0486451169vw, 74.9477359347vh);
    animation-duration: 4.4518728259s;
    animation-delay: -2.6265239152s;
  }
  bokeh:nth-child(29) {
    background-color: #fc85e1;
    transform: translate(3.5496273833vw, 63.8480028396vh);
    animation-duration: 3.6235742433s;
    animation-delay: -2.209714521s;
  }
  bokeh:nth-child(30) {
    background-color: #fc85e1;
    transform: translate(14.3213226839vw, 0.1426375202vh);
    animation-duration: 4.7506124306s;
    animation-delay: -0.5455306937s;
  }
  bokeh:nth-child(31) {
    background-color: #fc85e1;
    transform: translate(26.9533262801vw, 57.9922184282vh);
    animation-duration: 4.2437181958s;
    animation-delay: -0.9009738279s;
  }
  bokeh:nth-child(32) {
    background-color: #feff28;
    transform: translate(37.0115930616vw, 6.651716236vh);
    animation-duration: 3.2924286967s;
    animation-delay: -3.6769508459s;
  }
  bokeh:nth-child(33) {
    background-color: #feff28;
    transform: translate(79.1499238412vw, 55.897441646vh);
    animation-duration: 2.8316760608s;
    animation-delay: -4.2732176233s;
  }
  bokeh:nth-child(34) {
    background-color: #2bd8ff;
    transform: translate(75.2082533768vw, 32.4461526728vh);
    animation-duration: 3.6469481597s;
    animation-delay: -1.3179112459s;
  }
  bokeh:nth-child(35) {
    background-color: #fc85e1;
    transform: translate(90.0942529718vw, 82.2946376059vh);
    animation-duration: 2.2065010327s;
    animation-delay: -2.8873858283s;
  }
  bokeh:nth-child(36) {
    background-color: #feff28;
    transform: translate(99.3578421898vw, 73.4136773318vh);
    animation-duration: 2.2587566781s;
    animation-delay: -0.6982361926s;
  }
  bokeh:nth-child(37) {
    background-color: #2bd8ff;
    transform: translate(90.9633395386vw, 39.1323953631vh);
    animation-duration: 2.1153070608s;
    animation-delay: -2.5961350815s;
  }
  bokeh:nth-child(38) {
    background-color: #ef8d22;
    transform: translate(59.0724316904vw, 83.8222736983vh);
    animation-duration: 3.9455170931s;
    animation-delay: -0.2689794676s;
  }
  bokeh:nth-child(39) {
    background-color: #2bd8ff;
    transform: translate(0.43619361vw, 28.8430691572vh);
    animation-duration: 3.1143584941s;
    animation-delay: -2.4191344567s;
  }
  bokeh:nth-child(40) {
    background-color: #ef8d22;
    transform: translate(9.296649728vw, 11.165176905vh);
    animation-duration: 2.1437752992s;
    animation-delay: -1.4018281089s;
  }
  bokeh:nth-child(41) {
    background-color: #ef8d22;
    transform: translate(21.5657511517vw, 45.9088268061vh);
    animation-duration: 4.1292177988s;
    animation-delay: -4.5146430557s;
  }
  bokeh:nth-child(42) {
    background-color: #fc85e1;
    transform: translate(0.5175416313vw, 36.5922600231vh);
    animation-duration: 4.3335627762s;
    animation-delay: -2.836661856s;
  }
  bokeh:nth-child(43) {
    background-color: #ef8d22;
    transform: translate(57.9272192561vw, 29.2102441262vh);
    animation-duration: 2.4856231866s;
    animation-delay: -2.672566946s;
  }
  bokeh:nth-child(44) {
    background-color: #fc85e1;
    transform: translate(3.926099239vw, 47.0616151378vh);
    animation-duration: 2.4763687804s;
    animation-delay: -4.8963537845s;
  }
  bokeh:nth-child(45) {
    background-color: #feff28;
    transform: translate(43.9144674954vw, 30.0931217968vh);
    animation-duration: 2.2605407382s;
    animation-delay: -0.0313904476s;
  }
  bokeh:nth-child(46) {
    background-color: #ef8d22;
    transform: translate(35.5785437089vw, 41.8317545632vh);
    animation-duration: 3.1476609634s;
    animation-delay: -4.1861697336s;
  }
  bokeh:nth-child(47) {
    background-color: #fc85e1;
    transform: translate(21.9206722577vw, 30.6343023458vh);
    animation-duration: 4.4586986511s;
    animation-delay: -0.0924957252s;
  }
  bokeh:nth-child(48) {
    background-color: #feff28;
    transform: translate(96.4373951418vw, 53.8754234705vh);
    animation-duration: 2.5220386762s;
    animation-delay: -1.7639512798s;
  }
  bokeh:nth-child(49) {
    background-color: #ef8d22;
    transform: translate(91.7150568657vw, 16.4930066922vh);
    animation-duration: 4.0433862052s;
    animation-delay: -4.7076510203s;
  }
  bokeh:nth-child(50) {
    background-color: #feff28;
    transform: translate(83.5177869525vw, 21.3585597041vh);
    animation-duration: 4.0976927982s;
    animation-delay: -1.519417504s;
  }
  bokeh:nth-child(51) {
    background-color: #fc85e1;
    transform: translate(15.6430905506vw, 30.221967745vh);
    animation-duration: 4.5622859919s;
    animation-delay: -1.1357616826s;
  }
  bokeh:nth-child(52) {
    background-color: #ef8d22;
    transform: translate(63.0611549735vw, 20.1892787165vh);
    animation-duration: 3.0240699386s;
    animation-delay: -1.9081222535s;
  }
  bokeh:nth-child(53) {
    background-color: #2bd8ff;
    transform: translate(19.765225318vw, 14.2025943271vh);
    animation-duration: 2.5210141588s;
    animation-delay: -4.611757644s;
  }
  bokeh:nth-child(54) {
    background-color: #ef8d22;
    transform: translate(71.0273300703vw, 12.2642560561vh);
    animation-duration: 4.1776435923s;
    animation-delay: -3.4869862349s;
  }
  bokeh:nth-child(55) {
    background-color: #2bd8ff;
    transform: translate(58.6717602184vw, 90.4153415849vh);
    animation-duration: 4.1530194559s;
    animation-delay: -1.9483421533s;
  }
  bokeh:nth-child(56) {
    background-color: #feff28;
    transform: translate(97.9713156136vw, 61.123552183vh);
    animation-duration: 3.3380257983s;
    animation-delay: -0.4172749927s;
  }
  bokeh:nth-child(57) {
    background-color: #fc85e1;
    transform: translate(30.337821765vw, 51.1274205429vh);
    animation-duration: 4.3351052244s;
    animation-delay: -4.902181583s;
  }
  bokeh:nth-child(58) {
    background-color: #2bd8ff;
    transform: translate(99.5262733648vw, 55.3965254226vh);
    animation-duration: 3.4938791692s;
    animation-delay: -1.6832968507s;
  }
  bokeh:nth-child(59) {
    background-color: #2bd8ff;
    transform: translate(84.0245766337vw, 81.1917623298vh);
    animation-duration: 2.440651153s;
    animation-delay: -0.6865307823s;
  }
  bokeh:nth-child(60) {
    background-color: #feff28;
    transform: translate(98.8227094105vw, 2.5622524994vh);
    animation-duration: 2.7920535896s;
    animation-delay: -4.2861454113s;
  }
  bokeh:nth-child(61) {
    background-color: #fc85e1;
    transform: translate(69.38976405vw, 82.9587246613vh);
    animation-duration: 2.313603723s;
    animation-delay: -1.7737804172s;
  }
  bokeh:nth-child(62) {
    background-color: #feff28;
    transform: translate(7.2566994418vw, 4.2463593266vh);
    animation-duration: 2.5581779351s;
    animation-delay: -2.7068519809s;
  }
  bokeh:nth-child(63) {
    background-color: #ef8d22;
    transform: translate(66.2143264764vw, 40.0127868605vh);
    animation-duration: 2.6786766844s;
    animation-delay: -2.0882440309s;
  }
  bokeh:nth-child(64) {
    background-color: #2bd8ff;
    transform: translate(29.9293057376vw, 91.5325537447vh);
    animation-duration: 2.497910806s;
    animation-delay: -0.2557212142s;
  }
  bokeh:nth-child(65) {
    background-color: #2bd8ff;
    transform: translate(80.5124415613vw, 19.8876938938vh);
    animation-duration: 2.1580934081s;
    animation-delay: -4.2221230006s;
  }
  bokeh:nth-child(66) {
    background-color: #ef8d22;
    transform: translate(64.5397721547vw, 6.9931261371vh);
    animation-duration: 4.9499854477s;
    animation-delay: -1.004832294s;
  }
  bokeh:nth-child(67) {
    background-color: #2bd8ff;
    transform: translate(93.3323424254vw, 59.4834962779vh);
    animation-duration: 4.845606684s;
    animation-delay: -4.0213726683s;
  }
  bokeh:nth-child(68) {
    background-color: #feff28;
    transform: translate(22.437554217vw, 8.0927568681vh);
    animation-duration: 3.5853229854s;
    animation-delay: -3.3860399848s;
  }
  bokeh:nth-child(69) {
    background-color: #2bd8ff;
    transform: translate(29.465640368vw, 62.9823330225vh);
    animation-duration: 4.1368413428s;
    animation-delay: -0.9501041754s;
  }
  bokeh:nth-child(70) {
    background-color: #feff28;
    transform: translate(33.7896786149vw, 52.9936774662vh);
    animation-duration: 4.2835779434s;
    animation-delay: -1.6360215565s;
  }
  bokeh:nth-child(71) {
    background-color: #fc85e1;
    transform: translate(56.1634744075vw, 51.2442340673vh);
    animation-duration: 3.3061326794s;
    animation-delay: -2.374318903s;
  }
  bokeh:nth-child(72) {
    background-color: #feff28;
    transform: translate(52.0355028753vw, 94.6943604138vh);
    animation-duration: 3.6458281018s;
    animation-delay: -0.0021393782s;
  }
  bokeh:nth-child(73) {
    background-color: #ef8d22;
    transform: translate(67.0356736042vw, 24.3425523807vh);
    animation-duration: 4.7229064229s;
    animation-delay: -0.7847637812s;
  }
  bokeh:nth-child(74) {
    background-color: #ef8d22;
    transform: translate(7.1485339313vw, 42.6477473797vh);
    animation-duration: 4.5933527232s;
    animation-delay: -4.0027509535s;
  }
  bokeh:nth-child(75) {
    background-color: #fc85e1;
    transform: translate(41.1551110929vw, 72.4275670951vh);
    animation-duration: 3.9100579094s;
    animation-delay: -0.8187895581s;
  }
  bokeh:nth-child(76) {
    background-color: #ef8d22;
    transform: translate(39.3562228533vw, 66.2431861525vh);
    animation-duration: 2.9376809956s;
    animation-delay: -0.3939230509s;
  }
  bokeh:nth-child(77) {
    background-color: #ef8d22;
    transform: translate(50.0295301923vw, 17.9488227803vh);
    animation-duration: 3.0989444465s;
    animation-delay: -0.0002266259s;
  }
  bokeh:nth-child(78) {
    background-color: #ef8d22;
    transform: translate(31.1918402427vw, 72.0214188906vh);
    animation-duration: 4.7996550522s;
    animation-delay: -3.1633933828s;
  }
  bokeh:nth-child(79) {
    background-color: #2bd8ff;
    transform: translate(96.2668051812vw, 53.0729578555vh);
    animation-duration: 2.4467959103s;
    animation-delay: -2.3303112164s;
  }
  bokeh:nth-child(80) {
    background-color: #feff28;
    transform: translate(18.7291956201vw, 30.91741421vh);
    animation-duration: 4.2183928824s;
    animation-delay: -1.6103283723s;
  }
  bokeh:nth-child(81) {
    background-color: #fc85e1;
    transform: translate(90.0307403335vw, 21.7045340529vh);
    animation-duration: 4.083930159s;
    animation-delay: -2.8106342279s;
  }
  bokeh:nth-child(82) {
    background-color: #ef8d22;
    transform: translate(30.0738409424vw, 97.765379978vh);
    animation-duration: 2.9342386173s;
    animation-delay: -0.9358859371s;
  }
  bokeh:nth-child(83) {
    background-color: #fc85e1;
    transform: translate(98.7118708497vw, 28.936151259vh);
    animation-duration: 2.9088523571s;
    animation-delay: -0.6764528501s;
  }
  bokeh:nth-child(84) {
    background-color: #feff28;
    transform: translate(50.1648520025vw, 13.0169928341vh);
    animation-duration: 4.5563749529s;
    animation-delay: -4.7889222407s;
  }
  bokeh:nth-child(85) {
    background-color: #feff28;
    transform: translate(89.4905863152vw, 50.5756519404vh);
    animation-duration: 4.7847881768s;
    animation-delay: -4.0692118128s;
  }
  bokeh:nth-child(86) {
    background-color: #2bd8ff;
    transform: translate(86.3049492081vw, 78.6004999789vh);
    animation-duration: 3.1436481931s;
    animation-delay: -0.7649416435s;
  }
  bokeh:nth-child(87) {
    background-color: #fc85e1;
    transform: translate(85.3655771699vw, 52.8497059192vh);
    animation-duration: 4.6849252523s;
    animation-delay: -3.2067204154s;
  }
  bokeh:nth-child(88) {
    background-color: #fc85e1;
    transform: translate(35.9244001944vw, 87.5603120378vh);
    animation-duration: 3.1701687473s;
    animation-delay: -4.0449040445s;
  }
  bokeh:nth-child(89) {
    background-color: #2bd8ff;
    transform: translate(80.532416767vw, 19.7863293403vh);
    animation-duration: 2.2955197016s;
    animation-delay: -2.9096192437s;
  }
  bokeh:nth-child(90) {
    background-color: #fc85e1;
    transform: translate(75.2408943833vw, 71.2672068964vh);
    animation-duration: 3.1128333402s;
    animation-delay: -1.8271022065s;
  }
  bokeh:nth-child(91) {
    background-color: #fc85e1;
    transform: translate(35.9494217022vw, 52.0415182384vh);
    animation-duration: 4.3252548144s;
    animation-delay: -4.5873635459s;
  }
  bokeh:nth-child(92) {
    background-color: #ef8d22;
    transform: translate(12.9353096516vw, 97.2573305679vh);
    animation-duration: 3.9204084598s;
    animation-delay: -4.5687344937s;
  }
  bokeh:nth-child(93) {
    background-color: #fc85e1;
    transform: translate(47.5225023346vw, 26.1819955533vh);
    animation-duration: 3.1786346298s;
    animation-delay: -3.5554812909s;
  }
  bokeh:nth-child(94) {
    background-color: #feff28;
    transform: translate(60.3545508354vw, 99.8481069848vh);
    animation-duration: 3.7375447796s;
    animation-delay: -1.0801630733s;
  }
  bokeh:nth-child(95) {
    background-color: #fc85e1;
    transform: translate(38.9328987455vw, 29.5688281031vh);
    animation-duration: 4.5021963559s;
    animation-delay: -2.7371934591s;
  }
  bokeh:nth-child(96) {
    background-color: #2bd8ff;
    transform: translate(94.2121398117vw, 39.1813708248vh);
    animation-duration: 3.6831846316s;
    animation-delay: -1.3718318853s;
  }
  bokeh:nth-child(97) {
    background-color: #feff28;
    transform: translate(54.7117382468vw, 99.3290244647vh);
    animation-duration: 3.0793080512s;
    animation-delay: -3.3166730581s;
  }
  bokeh:nth-child(98) {
    background-color: #fc85e1;
    transform: translate(75.8680184553vw, 18.363522774vh);
    animation-duration: 3.9043902332s;
    animation-delay: -0.1626612872s;
  }
  bokeh:nth-child(99) {
    background-color: #2bd8ff;
    transform: translate(49.9466975819vw, 92.653426131vh);
    animation-duration: 4.6830195969s;
    animation-delay: -3.9264883483s;
  }
  bokeh:nth-child(100) {
    background-color: #fc85e1;
    transform: translate(91.4168195835vw, 70.9388436024vh);
    animation-duration: 2.710214511s;
    animation-delay: -0.5536748008s;
  }

  @keyframes explosion {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translate(50vw, 100vh);
    }
  }
  .cake {
    position: relative;
    top: 250px;
    margin: auto;
    width: 200px;
    height: 60px;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateZ(100px);
    box-shadow: 0px 4px 0px #f4f9fd,  0px 8px 0px #dba9ff,  0px 12px 0px #fec3b3,  0px 16px 0px #f7f6fb,  0px 20px 0px #f7f6fb,  0px 24px 0px #f7f6fb, 0px 28px 0px #f7f6fb, 0px 32px 0px #fea0bb, 0px 36px 0px #fea0bb, 0px 40px 0px #9cef9d, 0px 44px 0px #9cef9d,  0px 48px 0px #f7f6fb,  0px 52px 0px #f7f6fb,  0px 56px 0px #f7f6fb,  0px 60px 0px #f7f6fb,  0px 64px 0px #f7f6fb,  0px 68px 0px #dfa5fc,  0px 72px 0px #dfa5fc,  0px 76px 0px #fafffe,  0px 80px 0px #fafffe;
  }

  .plate {
    position: absolute;
    height: 90px;
    width: 300px;
    bottom: -95px;
    left: 50%;
    top: 380px;
    margin-left: -150px;
    border-radius: 100%;
    background: radial-gradient(ellipse closest-side at center, #08c7fe 0%, #04d7f2 71%, #02ffd0 100%);
    box-shadow: 0px 3px 0px #00e2e1, 0px 6px 0px #00d3fb;
    transform: translateZ(80px);
  }

  .candle {
    position: relative;
    height: 50px;
    width: 12px;
    top: 280px;
    margin: auto;
    background: linear-gradient(0deg, #b7f4a7 0%, white 100%);
    border-radius: 4px;
    transform: translateZ(120px);
  }

  #flame {
    position: absolute;
    z-index: 10;
  }

  .lit {
    background: linear-gradient(to bottom, #FFF6D9, #FBC36C);
    width: 15px;
    height: 35px;
    /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    /*   http://www.css3.info/preview/box-shadow/ */
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
  .pyro > .before, .pyro > .after {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }

  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }

  @-webkit-keyframes bang {
    to {
      box-shadow: -184px -409.6666666667px #0073ff, -61px -362.6666666667px #4800ff, 148px -273.6666666667px #00f2ff, 140px 12.3333333333px #00ff15, -114px -116.6666666667px #ff0080, -179px -306.6666666667px #ff8800, -231px -385.6666666667px #00ccff, 118px -395.6666666667px #ff002b, 140px -268.6666666667px #0dff00, -129px 63.3333333333px #004dff, -54px -373.6666666667px #00ff22, -72px -385.6666666667px #00ffe1, -116px -284.6666666667px #ff4000, -204px -414.6666666667px #00aaff, 222px -118.6666666667px #5eff00, 149px 55.3333333333px #00ff7b, -36px -125.6666666667px #00ff0d, -48px 49.3333333333px #00ff09, -16px 25.3333333333px #00ff1a, -116px -404.6666666667px #6200ff, -223px -286.6666666667px #ff5100, -199px 69.3333333333px #ee00ff, 121px -375.6666666667px #ff2200, 195px -76.6666666667px #00e1ff, 120px -32.6666666667px #55ff00, -148px -124.6666666667px #ffbf00, -224px -339.6666666667px #ff0091, -74px -303.6666666667px #00ffc4, 176px -396.6666666667px #fff700, 77px 77.3333333333px #8400ff, 125px -241.6666666667px #00ccff, -57px -372.6666666667px #ff00a6, 20px -249.6666666667px #00ff7b, -105px -393.6666666667px #ff0040, 7px -387.6666666667px #0022ff, 52px -0.6666666667px #6600ff, 236px -57.6666666667px #ffee00, 66px -110.6666666667px #fb00ff, -77px -257.6666666667px #5100ff, -151px 82.3333333333px #ff001a, 250px -156.6666666667px #ff2b00, 2px -243.6666666667px #ff0059, 31px -361.6666666667px #ffe600, 62px -277.6666666667px #8800ff, -83px -306.6666666667px #ff3300, 155px -161.6666666667px #ff1100, -125px -373.6666666667px #00ffee, -181px -153.6666666667px #1aff00, 159px 13.3333333333px #6f00ff, -244px 11.3333333333px #8400ff, -81px 26.3333333333px #ff0004;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -184px -409.6666666667px #0073ff, -61px -362.6666666667px #4800ff, 148px -273.6666666667px #00f2ff, 140px 12.3333333333px #00ff15, -114px -116.6666666667px #ff0080, -179px -306.6666666667px #ff8800, -231px -385.6666666667px #00ccff, 118px -395.6666666667px #ff002b, 140px -268.6666666667px #0dff00, -129px 63.3333333333px #004dff, -54px -373.6666666667px #00ff22, -72px -385.6666666667px #00ffe1, -116px -284.6666666667px #ff4000, -204px -414.6666666667px #00aaff, 222px -118.6666666667px #5eff00, 149px 55.3333333333px #00ff7b, -36px -125.6666666667px #00ff0d, -48px 49.3333333333px #00ff09, -16px 25.3333333333px #00ff1a, -116px -404.6666666667px #6200ff, -223px -286.6666666667px #ff5100, -199px 69.3333333333px #ee00ff, 121px -375.6666666667px #ff2200, 195px -76.6666666667px #00e1ff, 120px -32.6666666667px #55ff00, -148px -124.6666666667px #ffbf00, -224px -339.6666666667px #ff0091, -74px -303.6666666667px #00ffc4, 176px -396.6666666667px #fff700, 77px 77.3333333333px #8400ff, 125px -241.6666666667px #00ccff, -57px -372.6666666667px #ff00a6, 20px -249.6666666667px #00ff7b, -105px -393.6666666667px #ff0040, 7px -387.6666666667px #0022ff, 52px -0.6666666667px #6600ff, 236px -57.6666666667px #ffee00, 66px -110.6666666667px #fb00ff, -77px -257.6666666667px #5100ff, -151px 82.3333333333px #ff001a, 250px -156.6666666667px #ff2b00, 2px -243.6666666667px #ff0059, 31px -361.6666666667px #ffe600, 62px -277.6666666667px #8800ff, -83px -306.6666666667px #ff3300, 155px -161.6666666667px #ff1100, -125px -373.6666666667px #00ffee, -181px -153.6666666667px #1aff00, 159px 13.3333333333px #6f00ff, -244px 11.3333333333px #8400ff, -81px 26.3333333333px #ff0004;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -184px -409.6666666667px #0073ff, -61px -362.6666666667px #4800ff, 148px -273.6666666667px #00f2ff, 140px 12.3333333333px #00ff15, -114px -116.6666666667px #ff0080, -179px -306.6666666667px #ff8800, -231px -385.6666666667px #00ccff, 118px -395.6666666667px #ff002b, 140px -268.6666666667px #0dff00, -129px 63.3333333333px #004dff, -54px -373.6666666667px #00ff22, -72px -385.6666666667px #00ffe1, -116px -284.6666666667px #ff4000, -204px -414.6666666667px #00aaff, 222px -118.6666666667px #5eff00, 149px 55.3333333333px #00ff7b, -36px -125.6666666667px #00ff0d, -48px 49.3333333333px #00ff09, -16px 25.3333333333px #00ff1a, -116px -404.6666666667px #6200ff, -223px -286.6666666667px #ff5100, -199px 69.3333333333px #ee00ff, 121px -375.6666666667px #ff2200, 195px -76.6666666667px #00e1ff, 120px -32.6666666667px #55ff00, -148px -124.6666666667px #ffbf00, -224px -339.6666666667px #ff0091, -74px -303.6666666667px #00ffc4, 176px -396.6666666667px #fff700, 77px 77.3333333333px #8400ff, 125px -241.6666666667px #00ccff, -57px -372.6666666667px #ff00a6, 20px -249.6666666667px #00ff7b, -105px -393.6666666667px #ff0040, 7px -387.6666666667px #0022ff, 52px -0.6666666667px #6600ff, 236px -57.6666666667px #ffee00, 66px -110.6666666667px #fb00ff, -77px -257.6666666667px #5100ff, -151px 82.3333333333px #ff001a, 250px -156.6666666667px #ff2b00, 2px -243.6666666667px #ff0059, 31px -361.6666666667px #ffe600, 62px -277.6666666667px #8800ff, -83px -306.6666666667px #ff3300, 155px -161.6666666667px #ff1100, -125px -373.6666666667px #00ffee, -181px -153.6666666667px #1aff00, 159px 13.3333333333px #6f00ff, -244px 11.3333333333px #8400ff, -81px 26.3333333333px #ff0004;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -184px -409.6666666667px #0073ff, -61px -362.6666666667px #4800ff, 148px -273.6666666667px #00f2ff, 140px 12.3333333333px #00ff15, -114px -116.6666666667px #ff0080, -179px -306.6666666667px #ff8800, -231px -385.6666666667px #00ccff, 118px -395.6666666667px #ff002b, 140px -268.6666666667px #0dff00, -129px 63.3333333333px #004dff, -54px -373.6666666667px #00ff22, -72px -385.6666666667px #00ffe1, -116px -284.6666666667px #ff4000, -204px -414.6666666667px #00aaff, 222px -118.6666666667px #5eff00, 149px 55.3333333333px #00ff7b, -36px -125.6666666667px #00ff0d, -48px 49.3333333333px #00ff09, -16px 25.3333333333px #00ff1a, -116px -404.6666666667px #6200ff, -223px -286.6666666667px #ff5100, -199px 69.3333333333px #ee00ff, 121px -375.6666666667px #ff2200, 195px -76.6666666667px #00e1ff, 120px -32.6666666667px #55ff00, -148px -124.6666666667px #ffbf00, -224px -339.6666666667px #ff0091, -74px -303.6666666667px #00ffc4, 176px -396.6666666667px #fff700, 77px 77.3333333333px #8400ff, 125px -241.6666666667px #00ccff, -57px -372.6666666667px #ff00a6, 20px -249.6666666667px #00ff7b, -105px -393.6666666667px #ff0040, 7px -387.6666666667px #0022ff, 52px -0.6666666667px #6600ff, 236px -57.6666666667px #ffee00, 66px -110.6666666667px #fb00ff, -77px -257.6666666667px #5100ff, -151px 82.3333333333px #ff001a, 250px -156.6666666667px #ff2b00, 2px -243.6666666667px #ff0059, 31px -361.6666666667px #ffe600, 62px -277.6666666667px #8800ff, -83px -306.6666666667px #ff3300, 155px -161.6666666667px #ff1100, -125px -373.6666666667px #00ffee, -181px -153.6666666667px #1aff00, 159px 13.3333333333px #6f00ff, -244px 11.3333333333px #8400ff, -81px 26.3333333333px #ff0004;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -184px -409.6666666667px #0073ff, -61px -362.6666666667px #4800ff, 148px -273.6666666667px #00f2ff, 140px 12.3333333333px #00ff15, -114px -116.6666666667px #ff0080, -179px -306.6666666667px #ff8800, -231px -385.6666666667px #00ccff, 118px -395.6666666667px #ff002b, 140px -268.6666666667px #0dff00, -129px 63.3333333333px #004dff, -54px -373.6666666667px #00ff22, -72px -385.6666666667px #00ffe1, -116px -284.6666666667px #ff4000, -204px -414.6666666667px #00aaff, 222px -118.6666666667px #5eff00, 149px 55.3333333333px #00ff7b, -36px -125.6666666667px #00ff0d, -48px 49.3333333333px #00ff09, -16px 25.3333333333px #00ff1a, -116px -404.6666666667px #6200ff, -223px -286.6666666667px #ff5100, -199px 69.3333333333px #ee00ff, 121px -375.6666666667px #ff2200, 195px -76.6666666667px #00e1ff, 120px -32.6666666667px #55ff00, -148px -124.6666666667px #ffbf00, -224px -339.6666666667px #ff0091, -74px -303.6666666667px #00ffc4, 176px -396.6666666667px #fff700, 77px 77.3333333333px #8400ff, 125px -241.6666666667px #00ccff, -57px -372.6666666667px #ff00a6, 20px -249.6666666667px #00ff7b, -105px -393.6666666667px #ff0040, 7px -387.6666666667px #0022ff, 52px -0.6666666667px #6600ff, 236px -57.6666666667px #ffee00, 66px -110.6666666667px #fb00ff, -77px -257.6666666667px #5100ff, -151px 82.3333333333px #ff001a, 250px -156.6666666667px #ff2b00, 2px -243.6666666667px #ff0059, 31px -361.6666666667px #ffe600, 62px -277.6666666667px #8800ff, -83px -306.6666666667px #ff3300, 155px -161.6666666667px #ff1100, -125px -373.6666666667px #00ffee, -181px -153.6666666667px #1aff00, 159px 13.3333333333px #6f00ff, -244px 11.3333333333px #8400ff, -81px 26.3333333333px #ff0004;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}
