// Body
// $body-bg: #f8fafc;
// $body-bg: #000;
// $body-color: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$gray: #6c757d;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$rosa: #ff79c6;

$primary: $blue;
$secondary: $gray;
$success: $green;
$info: $indigo;
$warning: $yellow;
$danger: $red;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  primary: $blue,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  rosa: $rosa
);
